<!-- Contenedor principal -->
<div
  class="min-h-[calc(100vh-64px)] flex items-start justify-center bg-gray-100 px-4 py-8"
>
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md space-y-4">
    <h1 class="text-3xl font-bold text-center text-gray-800">Inicia Sesión</h1>

    <form #form="ngForm" (ngSubmit)="login()" class="space-y-4">
      <!-- Campo Correo -->
      <div class="form-control w-full">
        <input
          type="email"
          placeholder="correo@gmail.com"
          class="input input-bordered w-full"
          required
          name="email"
          [(ngModel)]="email"
        />
      </div>

      <!-- Campo Contraseña -->
      <div class="form-control w-full">
        <input
          type="password"
          placeholder="Contraseña"
          class="input input-bordered w-full"
          required
          name="password"
          [(ngModel)]="password"
        />
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="text-red-500 text-center">
        {{ errorMessage }}
      </div>

      <!-- Botón -->
      <button
        type="submit"
        class="btn btn-neutral w-full"
        [disabled]="cargando"
      >
        Iniciar Sesión
        <span
          *ngIf="cargando"
          class="loading loading-spinner loading-md ml-2"
        ></span>
      </button>
    </form>
  </div>
</div>
